h1{
    background-color: yellow;
    text-align: center;
}

#usuario{
    text-align: center;
}

.tabela{
    display: inline-block;
    width: 20%;
    border: 1px solid black;
    height: 300px;
    margin: 200px, 200px, 200px, 200px;
}

#certo1{
    color: green;
}
#certo2{
    color: green;
}
#certo3{
    color: green;
}
#errado1{
    color: red;
}
#errado2{
    color: red;
}
#errado3{
    color: red;
}